.bg-color{
  background-color: rgba(0, 0, 0, .85);
  position: fixed;
  font-weight: 500;
  backdrop-filter: saturate(180%) blur(20px);
}

.navbar-brand{
  color: var(--white) !important;
}

.nav-link {
  color: var(--gray);
  transition: .2s;
}

.nav-link:hover {
  color: var(--white);
  transition: .2s;
}



.nav-icon{
  color: var(--white)!important;
  transform: rotateZ(90deg);
  padding: 0;
  text-align: center;
}
